.infoRight{
    position: relative;
}
.infoRightParagh{
    letter-spacing: 0.1rem;
    font-size: 12px;
}
.infoRightLine{
    content: "";
    display: block;
    width: 70%;
    height: 2px;
    top: 9px;
    right: 0;
    background-color: rgb(192, 187, 187);
    position: absolute;
}